body
{
  margin:0;
  padding:0;

}
nav
{
  font-family: Quicksand;
  font-weight:100;
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:74px;
  box-sizing: border-box;
  transition: 0.3s;
  background: rgba(255, 255, 255, 0.95);
  border-bottom: :1px solid rgba(0, 0, 0, 1);
  z-index:3;
}
nav.black
{
  background: rgba(0,0,0,0.75);
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:74px;
  box-sizing: border-box;
  transition: 0.3s;
}
nav .img-logo
{
  height:100px;
  width:100px;
  float:left;
  transition:0.3s;
  position: fixed;
  top: 25px;
  left:100px;
}
nav.black.img-logo
{
  height:100px;
  width:100px;
  float:left;
  transition:0.3s;
}
nav ul
{
  list-style: none;
  float:right;
  display:flex;
  margin: 0 0 0 0;
  padding: 0;
  position:relative;
}
nav ul li
{
  list-style: none;
}
nav ul li a
{
  color:rgba(242, 77, 25,1);
  text-decoration: none;
  text-transform: uppercase;
  transition:0.3s;
  padding: 27.5px 0px;
  box-sizing: border-box;
  position: relative;
  font-size: 15px;
  display: block;
  text-align: center;
  width: 175px;
}
nav.black ul li a
{
  color:rgba(255, 255, 255, 1);
  text-decoration: none;
  text-transform: uppercase;
  transition:0.3s;
  padding: 27.5px 0px;
  box-sizing: border-box;
  position: relative;
  font-size: 15px;
  display: block;
  text-align: center;
}
nav ul li a:before
{
  content: '';
  position: absolute;
  top: 0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(242, 77, 25,1);
  transform-origin:top;
  transform:scaleY(0);
  transition: 0.5s;
  color:#000;
  z-index: -1;
}
nav ul li a:hover
{
  color:rgba(255, 255, 255, 1)
}
nav ul li a:hover:before
{
  transform-origin:top;
  transform:scaleY(1);
}
nav.black ul li a:before
{
  content: '';
  position: absolute;
  top: 0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(255,255,255,0.75);
  transform-origin:top;
  transform:scaleY(0);
  transition: 0.5s;
  color:#000;
  z-index: -1;
}
nav.black ul li a:hover
{
  color:rgba(0,0,0,1)
}
nav.black ul li a:hover:before
{
  transform-origin:top;
  transform:scaleY(1);
}

nav ul li a:focus
{
  outline:inherit;
}
nav ul li ul
{
  display:none;
  text-align: center;
  max-width: 200px;
  transition:0.3s;
  opacity: 0;
  visibility: hidden;
  transform:translateY(0px);
  background:rgba(255, 255, 255, 0.9);
}
nav.black ul li ul
{
  display:none;
  text-align: center;
  max-width: 200px;
  transition:0.3s;
  opacity: 0;
  visibility: hidden;
  transform:translateY(0px);
  background:rgba(0,0,0,0.75);
}
nav ul li:hover ul
{
  opacity: 1;
  visibility: visible;
  display:block;
}
nav ul li ul li a
{
  padding:15px 30px;
}
nav.black ul li ul li a
{
  padding:15px 30px;
}

section.sec1
{
  width: 100%;
  height: 100vh;
  background: url('resources/Images/8.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.particle-bg-heading
{
  font-family: Quicksand;
  font-weight: bold;
  font-size: 96px;
  position:absolute;
  top:15vh;
  left:15vw;
  line-height: 1;
}
.particle-bg-heading .acronym
{
  color: rgba(242, 77, 25,1);
}
.particle-bg-heading .acronym1
{
  animation-name: fadeInDown;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  display:inline-block;
  animation-delay: 0.5s;

}

.particle-bg-heading .acronym2
{
  animation-name: fadeInDown;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  display:inline-block;
  animation-delay: 0.5s;

}
.particle-bg-heading .acronym3
{
  animation-name: fadeInDown;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  display:inline-block;
  animation-delay: 0.5s;

}
.particle-bg-heading .acronym4
{
  animation-name: fadeInDown;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  display:inline-block;
  animation-delay: 0.5s;

}
.particle-bg-heading .heading
{
  color:#ffffff;
}
.particle-bg-heading .heading1
{
  animation-name: flipInX;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  display:inline-block;
  animation-delay: 3s;
}
.particle-bg-heading .heading2
{
  animation-name: flipInX;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  display:inline-block;
  animation-delay: 3.5s;
}
.particle-bg-heading .heading3
{
  animation-name: flipInX;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  display:inline-block;
  animation-delay: 4s;

}
.particle-bg-heading .heading4
{
  animation-name: flipInX;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  display:inline-block;
  animation-delay: 4.5s;
}

.particle-bg-intro
{
  font-family: Quicksand;
  font-weight: 100;
  font-size: 18px;
  position:absolute;
  top:60vh;
  left:15vw;
  line-height: 1.75;
  color:white;
}
section.content
{
  margin-top: 80px;
}
section.content p
{
  width: 80vw;
  margin:30px auto;
  text-align: center;
  font-size: 24px;
  line-height: 30px;
}
