@import url('http://2018.igem.org/wiki/images/5/52/T--UCL--QuicksandReg.eot');
@import url('https://fonts.googleapis.com/css?family=Quicksand');

@import url("http://2018.igem.org/wiki/images/6/6a/T--UCL--futuramed.eot");

/*Futura*/
@font-face {
  font-family: "Futura";
  font-style: normal;
  font-weight: 400;
    src: url("http://2018.igem.org/wiki/images/6/6a/T--UCL--futuramed.eot");
    src: local('Futura'), local('Futura'),
    url("http://2018.igem.org/wiki/images/6/6a/T--UCL--futuramed.eot") format("embedded-opentype"),
    url("http://2018.igem.org/wiki/images/c/ce/T--UCL--futuramed.woff") format("woff"),
    url("http://2018.igem.org/wiki/images/e/e6/T--UCL--futuramed.ttf") format("truetype"),
  }

/* Quicksand regular */
@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    src: url('http://2018.igem.org/wiki/images/5/52/T--UCL--QuicksandReg.eot');
    src: local('Quicksand Regular'), local('Quicksand-Regular'),
            url('http://2018.igem.org/wiki/images/5/52/T--UCL--QuicksandReg.eot') format('embedded-opentype'),
            url('http://2018.igem.org/wiki/images/a/aa/T--UCL--quicksand.ttf') format('truetype'),
            url('http://2018.igem.org/wiki/images/7/74/T--UCL--QuicksandReg1.woff') format('woff');
}

#sideMenu,
#top_title {
    display: none;
}

#content {
    width: 100vw;
    padding: 0px;
    border: none;
    color: black;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    position: relative;
}

#globalWrapper {
    font-size: inherit;
    padding-bottom: 0;
}

#top_menu_under {
    height: 0px !important;
}
/* ====NAVBAR========NAVBAR========NAVBAR========NAVBAR========NAVBAR========NAVBAR========NAVBAR========NAVBAR========NAVBAR========NAVBAR========NAVBAR========NAVBAR========NAVBAR========NAVBAR========NAVBAR========NAVBAR========NAVBAR========NAVBAR========NAVBAR========NAVBAR========NAVBAR========NAVBAR========NAVBAR==== */
* {
  margin:0;
  padding:0;
}

nav
{
  font-family: "Quicksand";
  font-weight:100;
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:8.25vh;
  box-sizing: border-box;
  transition: 0.3s;
  background: rgba(255, 255, 255, 0.95);
  border-bottom: :1px solid rgba(0, 0, 0, 1);
  z-index:3;
}

nav.black
{
  background: rgba(0,0,0,0.75);
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:8.25vh;
  box-sizing: border-box;
  transition: 0.3s;
}
nav .img-logo
{

  width:5.952380952vw;
  float:left;
  transition:0.3s;
  position: fixed;
  top: 3vh;
  left: 3vw;
  box-shadow: 5px 5px 10px #d0513a;
  border-radius: 100%;
}
nav.black.img-logo
{

  width:5.952380952vw;
  float:left;
  transition:0.3s;
  box-shadow: 5px 5px 10px #d0513a;
  border-radius: 100%;
}
nav ul
{
  list-style: none;
  float:right;
  display:flex;
  margin: 0 0 0 0;
  padding: 0;
  position:relative;
}
nav ul li
{
  list-style: none;
}
nav ul li a
{
  color:rgba(242, 77, 25,1);
  text-decoration:none;
  text-transform: uppercase;
  transition:0.3s;
  padding: 3.05vh 0px;
  box-sizing: border-box;
  position: relative;
  font-size: 15px;
  font-size: 0.9vw;
  display: block;
  text-align: center;
  width: 10vw;
}
nav.black ul li a
{
  color:rgba(255, 255, 255, 1);
  text-decoration: none;
  text-transform: uppercase;
  transition:0.3s;
  padding: 3.05vh 0px;
  box-sizing: border-box;
  position: relative;
  font-size: 15px;
  display: block;
  text-align: center;
}
nav ul li a:before
{
  content: '';
  position: absolute;
  top: 0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(242, 77, 25,1);
  transform-origin:top;
  transform:scaleY(0);
  transition: 0.5s;
  color:#000;
  z-index: -1;
}
nav ul li a:hover
{
  color:rgba(255, 255, 255, 1)
}
nav ul li a:hover:before
{
  transform-origin:top;
  transform:scaleY(1);
}
nav.black ul li a:before
{
  content: '';
  position: absolute;
  top: 0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(255,255,255,0.75);
  transform-origin:top;
  transform:scaleY(0);
  transition: 0.5s;
  color:#000;
  z-index: -1;
}
nav.black ul li a:hover
{
  color:rgba(0,0,0,1)
}
nav.black ul li a:hover:before
{
  transform-origin:top;
  transform:scaleY(1);
}

nav ul li a:focus
{
  outline:inherit;
}
nav ul li ul
{
  display:none;
  text-align: center;
  max-width: 200px;
  transition:0.3s;
  opacity: 0;
  visibility: hidden;
  transform:translateY(0px);
  background:rgba(255, 255, 255, 0.9);
}
nav.black ul li ul
{
  display:none;
  text-align: center;
  max-width: 200px;
  transition:0.3s;
  opacity: 0;
  visibility: hidden;
  transform:translateY(0px);
  background:rgba(0,0,0,0.75);
}
nav ul li:hover ul
{
  opacity: 1;
  visibility: visible;
  display:block;
}
nav ul li ul li a
{
  padding:15px 30px;
}
nav.black ul li ul li a
{
  padding:15px 30px;
}

@media screen and (max-width:700px) {
    .particle-bg-intro, .scroll, .section1, .section2, .section3,
    .section4, .section5 {
        width: 100%;
    }
}

@media screen and (max-width:700px) {.particle-bg-heading, .acronym, .acronym1, .acronym2,
.acronym3, .acronym4, .heading, .heading1, .heading2, .heading3,
.heading4, {
    width: 100%;
    }
}

/* ====HEADING========HEADING========HEADING========HEADING========HEADING========HEADING========HEADING========HEADING========HEADING========HEADING========HEADING========HEADING========HEADING========HEADING========HEADING========HEADING========HEADING========HEADING========HEADING========HEADING========HEADING========HEADING========HEADING========HEADING========HEADING========HEADING========HEADING========HEADING========HEADING========HEADING========HEADING========HEADING==== */

section.sec1
{
  width: 100%;
  height: 100vh;
  background: url('http://2018.igem.org/wiki/images/7/7d/T--UCL--SilkStock1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #000000;
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
  position: relative;
  min-height: 1px;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  border-radius: 0.3rem;
}
div.particle-bg-heading
{
  position: absolute;
  top:10vh;
  left:10vw;
  right:10vw;
}
.particle-bg-heading .acronym
{
  color: rgba(242, 77, 25,1);
  font-family: "Quicksand",serif;
  font-weight: bolder;
  animation-delay: 0s;
  font-weight: 400;
  display:inline-block;
}
.particle-bg-heading .acronym1
{

  animation-duration: 1s;
  animation-iteration-count: 1;
  line-height: 1em;
}

.particle-bg-heading .acronym2
{

  animation-duration: 1s;
  animation-iteration-count: 1;
  line-height: 1em;

}
.particle-bg-heading .acronym3
{

  animation-duration: 1s;
  animation-iteration-count: 1;
  line-height: 1em;
}
.particle-bg-heading .acronym4
{

  animation-duration: 1s;
  animation-iteration-count: 1;
  line-height: 1em;
}
.particle-bg-heading .heading
{
  color:#ffffff;
  font-family: "Futura",serif;
  font-weight: 400;
}
.particle-bg-heading .heading1
{

  animation-delay: 3s;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  line-height: 1em;
 display:inline-block;
}
.particle-bg-heading .heading2
{

  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-delay: 3.5s;
  line-height: 1em;
  display:inline-block;
}
.particle-bg-heading .heading3
{

  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-delay: 4s;
  line-height: 1em;
display:inline-block;
}
.particle-bg-heading .heading4
{

  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-delay: 4.5s;
  line-height: 1em;
  display:inline-block;
}

.particle-bg-intro
{
  font-family: "Quicksand";
  font-weight: 100;
  position: relative;
  line-height: 1.75;
  color: #ffffff;
  animation-timing-function: ease-in;
  animation-delay: 6s;
  text-align: justify;
}

.scroll
{
  font-size: 96px;
  color:#ffffff;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-delay: 0s;
  animation-direction: alternate;
  position: absolute;
  text-align: center;
  text-decoration: none;

}

a.nostyle:link {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

a.nostyle:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}
section.section1
{
  padding: 100px 0px 100px;
}
section.section1 p
{
  width: 80vw;
  margin:30px auto;
  text-align: center;
  font-size: 24px;
  line-height: 30px;
  font-family: "Quicksand";
}
section.section2
{
  padding: 100px 0px 100px;
  background-color: grey;
  color:white;
}
section.section2 p
{
  width: 80vw;
  margin:30px auto;
  text-align: center;
  font-size: 24px;
  line-height: 30px;
  font-family: "Quicksand";

}
section.section3
{
  padding: 100px 0px 100px;

}
section.section3 p
{
  width: 80vw;
  margin:30px auto;
  text-align: center;
  font-size: 24px;
  line-height: 30px;
  font-family: "Quicksand";
}
section.section4
{
  padding: 100px 0px 100px;
  background-color: grey;
  color:white;
}
section.section4 p
{
  width: 80vw;
  margin:30px auto;
  text-align: center;
  font-size: 24px;
  line-height: 30px;
  font-family: "Quicksand";
}
section.section5
{
  padding: 100px 0px 100px;
}
section.section5 p
{
  width: 80vw;
  margin:30px auto;
  text-align: center;
  font-size: 24px;
  line-height: 30px;
  font-family: "Quicksand";
}
