.container{
  max-width:80vw;
  max-height:none;
  margin:10vh auto;
  border: 0px;
  padding:5vw;
  background:url('Images/1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color:#e0eeee;
  font-size:10px;
  font-weight: 400;
  font-family: arial;
}

.parallax{
  background:url('Images/3.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height:500px;
}
